@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    text-align: center;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

#searchBar {
    width: 100%;  /* make the search bar take up full width of its container */
    max-width: 400px;  /* limit the width to a maximum of 400px */
    padding: 10px;  /* add padding inside the input field for better spacing */
    margin: 20px auto;  /* center search bar and add space around it */
    display: block;  /* make sure the input field is displayed as a block element */
    border-radius: 25px;  /* round the corners of the input field */
    border: 2px solid #ccc;  /* light border around the input field */
    font-size: 16px;  /* increase font size for better readability */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* subtle shadow for a 3D effect */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;  /* smooth transition for hover effects */
}

#searchBar:focus {
    border-color: #007BFF;  /* change border color when the input field is focused */
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);  /* enhance shadow effect when focused */
    outline: none;  /* remove the default focus outline */
}